openai
pydub
backoff
tqdm
numpy
pandas
google-generativeai
matplotlib
seaborn
litellm
pydantic>=2
instructor
accelerate>=0.26.0
wandb
tavily-python
mutagen
pulp
g2p_en
fastapi
tavily-python
pydub
git+https://github.com/UKPLab/sentence-transformers.git
